{{ response|raw }}
<style type="text/css">
    .slim-simple-profiler {
        padding: 10px;
        font-family: monospace;
        width:100%;
    }
    .slim-simple-profiler.body-dark {
        background-color: #070707;
    }
    .slim-simple-profiler fieldset {
        border: 1px solid rgb(51, 139, 77);
        padding: 6px 10px 10px 10px;
        margin: 0px;
        border-radius:4px;
    }
    .slim-simple-profiler .fieldset-default {
        background-color:#eee;
    }
    .slim-simple-profiler .fieldset-dark {
        background-color:#070707;
    }
    .slim-simple-profiler legend {
        color:rgb(51, 139, 77);
    }
    .slim-simple-profiler legend:hover {
        cursor: pointer;
    }
    .slim-simple-profiler .metaskin {
        text-align:left;
        width:100%;
    }
    .slim-simple-profiler .metahead-default {
        padding:5px;
        width:50%;
        color:#000;
        font-weight:italic;
        background-color:#ddd;
    }
    .slim-simple-profiler .metahead-dark {
        padding:5px;
        width:50%;
        color:#fff;
        font-weight:italic;
        background-color:#1a1a1a;
    }
    .slim-simple-profiler .metavalue-default {
        padding:5px;
        width:50%;
        color:#000;
        font-weight:normal;
        background-color:#ddd;
    }
    .slim-simple-profiler .metavalue-dark {
        padding:5px;
        width:50%;
        color:#fff;
        font-weight:normal;
        background-color:#1a1a1a;
    }
    .slim-simple-profiler .request-stats-default {
        color:#000;
        font-weight:normal;
        padding:4px 0 4px 0;
        text-align:right;
    }
    .slim-simple-profiler .request-stats-dark {
        color:#fff;
        font-weight:normal;
        padding:4px 0 4px 0;
        text-align:right;
    }
    .slim-simple-profiler .query-default {
        padding:5px;
        vertical-align:top;
        color:#000;
        width:5%;
        font-weight:normal;
        background-color:#ddd;
    }
    .slim-simple-profiler .query-dark {
        padding:5px;
        vertical-align:top;
        color:#fff;
        width:5%;
        font-weight:normal;
        background-color:#1a1a1a;
    }
    .slim-simple-profiler #dataResponse {
        text-align: left;
        display: block;
    }
</style>
<div class="slim-simple-profiler {{darkMode ? 'body-dark' : ''}}">
	<table class="metaskin">
		<tr>
			<td colspan="2">
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>META</strong></legend>
					<table style="width:100%;">
						<tr>
							<td class="{{darkMode ? 'metahead-dark' : 'metahead-default'}}">URI</td>
							<td class="{{darkMode ? 'metavalue-dark' : 'metavalue-default'}}">{{uri}}
							</td>
						</tr>
						<tr>
							<td class="{{darkMode ? 'metahead-dark' : 'metahead-default'}}">METHOD</td>
							<td class="{{darkMode ? 'metavalue-dark' : 'metavalue-default'}}">{{method}}</td>
						</tr>
						<tr>
							<td class="{{darkMode ? 'metahead-dark' : 'metahead-default'}}">ACTION TARGET</td>
							<td class="{{darkMode ? 'metavalue-dark' : 'metavalue-default'}}">{{action}}</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>QUERY PARAMS</strong>
					</legend>
					<div class="{{darkMode ? 'request-stats-dark' : 'request-stats-default'}}">
                        {{dataParams}}
					</div>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>BODY</strong>
					</legend>
					<div class="{{darkMode ? 'request-stats-dark' : 'request-stats-default'}}">
                        {{dataBody}}
					</div>
				</fieldset>
			</td>
		</tr>
		<tr>
			<td>
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>EXECUTION TIME</strong>
					</legend>
					<div class="{{darkMode ? 'request-stats-dark' : 'request-stats-default'}}">
                        {{execTime}}
					</div>
				</fieldset>
			</td>
			<td>
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>MEMORY USAGE</strong>
					</legend>
					<div class="{{darkMode ? 'request-stats-dark' : 'request-stats-default'}}">
                        {{memUsage}}
					</div>
				</fieldset>
			</td>
		</tr>
        {% if guzzleHttp %}
        <tr>
			<td colspan="2">
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>HTTP REQUEST(guzzlehttp)</strong>
					</legend>
					<div style="color:#fff;font-weight:normal;padding:4px 0 4px 0;" align="left">
						<table style="width:100%;">
							<thead>
								<tr>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 5%;">
										NUMBER</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 10%;">
										TIME(s)</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 35%;">
										REQUEST</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 50%;">
										RESPONSE</td>
								</tr>
							</thead>
							<tbody>
                                {% set number = 1 %}
                                {% for http in guzzleHttp %}
                                    <tr>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{number}}
                                            {% set number = number + 1 %}
                                            </td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{http['time']}}</td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{http['request']}}
                                        </td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{ http['response']}}</td>
                                    </tr>
                                {% endfor %}
        
							</tbody>
						</table>
					</div>
				</fieldset>
			</td>
		</tr>
        {% endif %}
        {% if eloquentLog %}
		<tr>
			<td colspan="2">
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>QUERIES(eloquent)</strong>
					</legend>
					<div style="color:#fff;font-weight:normal;padding:4px 0 4px 0;" align="left">
						<table style="width:100%;">
							<thead>
								<tr>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 5%;">
										NUMBER</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 10%;">
										TIME(ms)</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 65%;">
										QUERY</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 20%;">
										BINDINGS</td>
								</tr>
							</thead>
							<tbody>
                                {% set number = 1 %}
                                {% for query in eloquentLog %}
                                    <tr>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{number}}
                                            {% set number = number + 1 %}
                                            </td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{query['time']}}</td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            <code>{{query['query']}}</code>
                                        </td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{ query['bindings']|json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
                                    </tr>
                                {% endfor %}
        
							</tbody>
						</table>
					</div>
				</fieldset>
			</td>
		</tr>
        {% endif %}

        {% if doctrineLog %}
		<tr>
			<td colspan="2">
				<fieldset class="{{darkMode ? 'fieldset-dark' : 'fieldset-default'}}">
					<legend align="right"><strong>QUERIES(doctrine)</strong>
					</legend>
					<div style="color:#fff;font-weight:normal;padding:4px 0 4px 0;" align="left">
						<table style="width:100%;">
							<thead>
								<tr>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 5%;">
										NUMBER</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 10%;">
										TIME(s)</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 65%;">
										QUERY</td>
									<td class="{{darkMode ? 'query-dark' : 'query-default'}}" style="width: 20%;">
										BINDINGS</td>
								</tr>
							</thead>
							<tbody>
                                {% set number = 1 %}
                                {% for query in doctrineLog %}
                                    <tr>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{number}}
                                            {% set number = number + 1 %}
                                            </td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{query['executionMS']}}</td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            <code>{{query['sql']}}</code>
                                        </td>
                                        <td class="{{darkMode ? 'query-dark' : 'query-default'}}">
                                            {{ query['params']|json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
                                    </tr>
                                {% endfor %}
        
							</tbody>
						</table>
					</div>
				</fieldset>
			</td>
		</tr>
        {% endif %}
	</table>
</div>
<script>
function toggleResponse() {
    const response = document.getElementById("dataResponse");
    if (response.style.display === 'none') {
        response.style.display = 'block';
    } else {
        response.style.display = 'none';
    }
}
</script>
